@import url('animation/animation.css');
@import url('footer/footer.css');
body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
}
.wrapper {
  display: flex;
  align-items: stretch;
  background: #fff;
  padding: 0;
  max-width: 960px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-wrapper {
  order: 2;
  display: flex;
  justify-content: flex-start;
  
  width: 240px;
  flex-direction: column;
  background-color: #42A8C0;
}
.sidebar-name {
  display: flex;
  width: 240px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;

}
.sidebar-name__elem {
  display: inline-flex;
  margin: auto;
}
.list-style {
  list-style: none;
  padding: 0;
}
.sidebar-name .name {
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #fff;
}
.sidebar-name .tagline {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.contacts a {
  margin-left: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.contacts li {
  margin-bottom: 15px;
}
.contacts li:last-child {
  margin-bottom: 0;
}
.contacts a:hover {
  text-decoration: underline;
}
.sidebar-info__block {
  padding: 30px;
}
.education h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.education .degree {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0; 
  padding: 0;
}
.education .meta,
.education .time {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.education .item:last-child {
  margin-top: 15px;
}
.languages h2 {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.languages li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}
.languages li:last-child {
  margin-bottom: 0;
}
.interests h2 {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.interests li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}
.interests li:last-child {
  margin-bottom: 0;
}
.main {
  order: 1;
  background: #fff;
  padding: 60px;
  width: 720px;
}
.main .headline {
  margin-top: 0;
  margin-bottom: 30px;
  color: rgb(45, 119, 136);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.profile p {
  font-size: 14px;
  margin-bottom: 10px;
}
.profile {
  margin-bottom: 60px;
}
.experience .job-title {
  color: rgb(63, 70, 80);
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.upper-row {
  position: relative;
}
.experience .time {
  color: rgb(151, 170, 195);
  position: absolute;
  top: 0;
  right: 0;
}
.experience .company {
  color: rgb(151, 170, 195);
  margin-bottom: 10px;
}
.experience .details p{
  margin-bottom: 10px;
}
.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #7bc2d3;
}
/* стили для иконок */
.contacts .fa {
  color: #fff;
}
.main .fa {
  border-radius: 50%;
  background-color: #2d7788;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
/*стили для навыков для максимального разрешения экрана*/
@media screen and (min-width: 992px) {
  .skillset .level-title {
  float: left;
  width: 30%;
  margin-bottom: 0;
  }
  .skillset .level-bar {
  width: 70%;
  float: left;
  }
}
/*стили для небольших разрешений экрана (меньше 768)*/
@media screen and (max-width: 767px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .main {
    width: 100%;
    order: 0;
  }
  .sidebar-wrapper {
    width: 100%;
    order: 0;
  }
  .sidebar-name {
    width: 100%;
  }
}