.sidebar-wrapper {
  order: 2;
  display: flex;
  justify-content: flex-start;
  
  width: 240px;
  flex-direction: column;
  background-color: #42A8C0;
}
.sidebar-name {
  display: flex;
  width: 240px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;

}
.sidebar-name__elem {
  display: inline-flex;
  margin: auto;
}
.list-style {
  list-style: none;
  padding: 0;
}
.sidebar-name .name {
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #fff;
}
.sidebar-name .tagline {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.contacts a {
  margin-left: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.contacts li {
  margin-bottom: 15px;
}
.contacts li:last-child {
  margin-bottom: 0;
}
.contacts a:hover {
  text-decoration: underline;
}
.sidebar-info__block {
  padding: 30px;
}
.education h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.education .degree {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0; 
  padding: 0;
}
.education .meta,
.education .time {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.education .item:last-child {
  margin-top: 15px;
}
.languages h2 {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.languages li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}
.languages li:last-child {
  margin-bottom: 0;
}
.interests h2 {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.interests li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}
.interests li:last-child {
  margin-bottom: 0;
}